body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.divulga-cad {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.divulga-cad__candidates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.divulga-cad__candidate-card {
    align-items: center;
    gap: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
}

.divulga-cad__candidate-card h2 {
    margin: 0;
    font-size: 1.25em;
}

.divulga-cad__candidate-card p {
    margin: 10px 0;
}

.candidate-number {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.candidate-photo {
    width: 100px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.divulga-cad__print-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.divulga-cad__search-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}

.search-box {
    position: relative;
    flex: 1;
    display: flex; 
}

.search-box__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search-box__clear-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ddd;
    cursor: pointer;
}

.search-box__suggestions {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin-top: 36px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 99.6%;
    background-color: #fff;
    z-index: 1000;
}

.search-box__suggestions li {
    padding: 10px;
    cursor: pointer;
}

.search-box__suggestions li:hover {
    background-color: #e9ecef;
}

.checkbox-buttons {
    display: flex;
    align-items: center;
}

.checkbox-buttons__label {
    margin-right: 10px;
}

.checkbox-buttons__label:last-child {
    margin-right: 0;
}

.checkbox-buttons__input {
    margin-right: 5px;
}
