body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px;
}

.divulga-cand {
    width: 100%;
    max-width: 1200px;
    min-width: 420px;
    margin: 0 auto;
}

.divulga-cand__title {
    margin: 0 auto !important;
    text-align: center;
    min-width: 310px;
}

.divulga-cand__candidates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    min-width: 310px;
}

.divulga-cand__total-candidates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 24px;
    margin: 8px;
}

.divulga-cand__candidate-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    min-width: 300px;
    width: calc(33% - 16px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
}

.divulga-cand__candidate-card h2 {
    margin: 8px;
    font-size: 1.25em;
}

.divulga-cand__candidate-card p {
    margin: 10px 0;
}

.candidate-number {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.candidate-photo {
    width: 100px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 8px auto;
    border-radius: 8px;
}

.divulga-cand__print-button {
    position: fixed;
    top: 16px;
    right: 16px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.divulga-cand__search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    min-width: 310px;
    max-width: 700px;
    margin: 20px auto;
}

.divulga-cand__election-year select {
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.divulga-cand__search-box {
    position: relative;
    flex: 1;
    display: flex;
}

.divulga-cand__search-input {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.divulga-cand__search-input,
.divulga-cand__election-year select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.divulga-cand__clear-button {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 8px;
}

.divulga-cand__search-suggestions {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin-top: 32px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 98.8%;
    background-color: #fff;
    z-index: 1000;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.divulga-cand__search-suggestions::-webkit-scrollbar {
    width: 4px;
}

.divulga-cand__search-suggestions::-webkit-scrollbar-thumb {
    background-color: #C00;
    border-radius: 2px;
}

.divulga-cand__search-suggestions::-webkit-scrollbar-track {
    background-color: gray !important;
}

.divulga-cand__search-suggestions li {
    padding: 8px;
    cursor: pointer;
}

.divulga-cand__search-suggestions li:hover {
    background-color: #e9ecef;
}

.divulga-cand__checkbox-buttons {
    display: flex;
    align-items: center;
}

.divulga-cand__checkbox-label {
    margin-right: 8px;
}

.divulga-cand__checkbox-label:last-child {
    margin-right: 0;
}

.divulga-cand__checkbox-input {
    margin-right: 5px;
}

@media (max-width: 660px) {
    body {
        min-width: 420px;
    }
    .divulga-cand__search-container {
        position: relative;
        display: block;
        max-width: 310px;
    }

    .divulga-cand__checkbox-buttons {
        margin-top: 8px;
    }

    button#clearButton {
        position: absolute;
        right: -42px;
        top: 28px;
    }

    input#searchBox,
    .divulga-cand__election-year select {
        border-radius: 8px;
    }

    .divulga-cand__election-year {
        margin-bottom: 16px;
        border-radius: 8px;
    }

    .divulga-cand__search-suggestions {
        border-radius: unset;
    }
}

li.asset-order {
    display: none;
}